.info__title {
  text-align: center;
  font-size: rem(16);
  line-height: 25px;
  margin-bottom: rem(20);
}

.info__ico {
  display: block;
  max-width: rem(45);
  max-height: rem(45);
  margin: 0 auto;
  margin-bottom: rem(16);
}