.main__container {
  padding-top: rem(40);
  padding-bottom: rem(70);
}

.main__title {
  font-style: normal;
  font-family: 'IQOS-Bold';
  font-size: 20px;
  line-height: 31px;
  margin-bottom: rem(16);
}